{
  "env": {
    "test": {
      "plugins": ["istanbul"]
    },
    "commonjs": {
      "presets": [
        "react",
        "stage-0",
        ["env", {
          "useBuiltIns": false
        }]
      ],
      "plugins": [
        "transform-class-properties"
      ]
    },
    "es": {
      "presets": [
        "react",
        "stage-0",
        ["env", {
          "useBuiltIns": false,
          "modules": false
        }]
      ],
      "plugins": [
        "transform-class-properties"
      ]
    }
  }
}